#nfc, #hand {
    width: 60px; height: auto;
}
#nfc {
    position: absolute;
}
#hand {
    position: relative;
}

@keyframes nfc1 {
    0% {fill-opacity:1;}
    25% {fill-opacity:.25;}
    50% {fill-opacity:.25;}
    75% {fill-opacity:.25;}
    100% {fill-opacity:1;}
}
@keyframes nfc2 {
    0% {fill-opacity:.25;}
    25% {fill-opacity:1;}
    50% {fill-opacity:.25;}
    75% {fill-opacity:.25;}
    100% {fill-opacity:.25;}
}
@keyframes nfc3 {
    0% {fill-opacity:.25;}
    25% {fill-opacity:.25;}
    50% {fill-opacity:1;}
    75% {fill-opacity:.25;}
    100% {fill-opacity:.25;}
}
@keyframes hand {
    0% {bottom:-40px;right:-40px}
    100% {bottom:-20px;right:-20px}
}

.animate {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.nfc1 {
    fill:#ffffff;
    animation-name: nfc1;
}
.nfc2 {
    fill:#ffffff;
    animation-name: nfc2;
}
.nfc3 {
    fill:#ffffff;
    animation-name: nfc3;
}
#hand {
    animation-name: hand;
}
.hand1 {
    fill:#01426A;
}
.hand2 {
    fill:#1F74B7;
}
